.step{
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 12px;
    background-color: rgb(11, 151, 194);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.step.completed{
    border-color: rgb(3, 248, 36);
}